// styles for Register and Login pages

.formContainer {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .logo {
      color: #5d5b8d;
      font-weight: bold;
      font-size: 24px;
    }

    .title {
      color: #5d5b8d;
      font-size: 12px;
      font-weight: 500;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 12px;
        border: none;
        border-bottom: 1px solid grey;
      }

      button {
        background-color: rgb(32, 178, 226);
        color: white;
        padding: 10px;
        font-weight: bold;
        border: none;
        cursor: pointer;
      }
    }

    p {
      color: rgb(69, 69, 70);
      font-size: 13px;
      margin-top: 10px;
    }
  }
}

// styles for Home page

.div--home {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .div--container {
    border: 1px solid white;
    border-radius: 10px;
    width: 80%;
    height: 90vh;
    display: flex;
    overflow: hidden;

    // styles for Sidebar and Chat components

    .div--sidebar {
      flex: 1;
      background-color: #5d5b8d;

      .div--navbar {
        display: flex;
        align-items: center;
        background-color: rgb(62, 3, 80);
        height: 50px;
        padding: 10px;
        justify-content: space-between;
        color: white;

        .span--logo {
          font-weight: bold;
        }

        .div--user {
          display: flex;
          gap: 10px;
          align-items: center;

          img {
            background-color: #ddddf7;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            object-fit: cover;
          }

          button {
            background-color: #5d5b8d;
            color: rgb(247, 246, 246);
            font-size: 11px;
            border: none;
            cursor: pointer;
            border-radius: 2px;
            height: 18px;
            width: 55px;
          }
        }
      }
      
      .div--search {
        border-bottom: 1px solid gray;

        .div--searchForm {
          padding: 10px;

          input {
            background-color: transparent;
            border: none;
            color: white;
            outline: none;

            &::placeholder{
                color: lightgray;
            }
          }
        }
      }
 
      .div--userChat {
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
        cursor: pointer;

        &:hover{
            background-color: #2f2d2f;
        }

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }

        .div--userChatInfo{
            span{
                font-size: 18px;
                font-weight: bold;
            }
            p{
                font-size: 14px;
                color: lightgray;
            }
        }
      }
    }

    // styles for Chat component

    .div--chat {
      flex: 2;

      .div--chatInfo{
        height: 50px;
        background-color: #5d5b8d;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        color: lightgray;
      }

      .div--messages{
        background-color: lightpink;
        padding: 10px;
        height: calc(100% - 160px);
      }

      .div--input{
        height: 50px;
        background-color: white;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
            width: 100%;
            border: none;
            outline: none;
            color: black;
            font-size: 18px;

            &::placeholder{
                color: lightgray;
            }
        }

        .div--send{
            display: flex;
            align-items: center;
            gap: 10px;

            img{
                height: 24px;
                cursor: pointer;
            }
            button{
                border: none;
                padding: 10px 15px;
                color: white;
                background-color: rgb(67, 67, 173);
            }

        }
      }
    }
  }
}
